<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/products/form.css" />

    <script src="/javascripts/RequestManager.js"></script>
  </head>
  <body>
    <hr />
    <% if (errors?.length > 0) { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <hr />
    <% } %>
    <!-- enctype="multipart/form-data" -->
    <div class="form-container">
		<form
		  action="/users/register<%= data?.id ? '/' + data.id : '' %>"
		  method="post"
		  enctype="multipart/form-data"
		>
		  <div class="form__section">
					<input
					  type="text"
					  name="username"
					  placeholder="Name"
					  value="<%= data ? data.username : '' %>"
					/>
				</div>
		  <!-- <input
			 type="number"
			 name="age"
			 placeholder="age"
			 value="<%= data ? data.age : '' %>"
		  /> -->
		  <div class="form__section">
					<input
					  type="email"
					  name="email"
					  placeholder="Email"
					  value="<%= data ? data.email : '' %>"
					/>
				</div>
		  <div class="form__section">
					<input
					  type="password"
					  name="password"
					  placeholder="Password"
					  value="<%= data ? data.password : '' %>"
					/>
				</div>
		  <select name="type">
			 <% types.forEach(type => { %>
			 <option value="<%= type._id%>"><%= type.title%></option>
			 <%})%>
		  </select>
		  <button class="product__btn" type="submit">Register</button>
		</form>
	 </div>
  </body>
</html>