<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="shortcut icon" href="../images/icon-favicon.png" type="image/x-icon">
	<script src="../javascripts/products.js"></script>
	<title>Product list</title>
</head>
<body>
	<div class="wrapper">
		<a class="main-page__btn" href="/"><span class="main-page__btn-span"></span> To The Main Page</a>
		<form class="form form-filter" action="/products" method="get">
			<input
				class="filter__input"
				type="text" 
				id="title" 
				name="title"
				placeholder="Name"
			>
			<input 
				class="filter__input"
				type="number" 
				id="price" 
				name="price"
				placeholder="Price"
			>
			<select class="filter__input" name="provider" id="provider">
				<option value="">Distributor</option>
				<% providers.forEach(provider => { %>
					<option value="<%= provider._id %>"><%= provider.title %></option>
				<%	}) %>
			</select>
			<button class="product__btn" type="submit">Filter</button>
			<a href="/products" class="product__btn">Clear filter</a>
	</form>
		<div class="wrapper__product">
			<% products.forEach(product =>{ %>
				<div class="product__container">
					<div class="product__info">
						<a class="product__link" href="/products/<%=product.id%>"><img src= "/uploads/<%= product.imgSrc %>" alt="Flowers Img"></a>
						<p class="product__price"><%= product.price%> $</p>
						<a class="product__link" href="/products/<%=product.id%>"><%= product.title %></a>
						<p class="product__text"><span>Distributor:</span> <%= product.provider?.title %></p>
					</div>
					<%if(user) {%>
						<div class="product__actions actions">
							<a href="/products/edit/<%= product.id %>" class="product__btn" >Edit</a>
							<button onclick="deleteProduct('<%= product.id %>')" class="product__btn">Delete</button>
						</div>
					<%}%>	
				</div>
			<%})%>
		</div>
	</div>
</body>
</html>